<header>
  <h1 class="text-center font-bold text-xl my-4">My Todo-list</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/todos">Todos</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
  </nav>
</header>
